doctype html
html
  head
    title Geo demo
    link(rel='stylesheet', type='text/css', href='extensions/bootstrap/dist/css/bootstrap.min.css')
  body
    .container
      .row
        .panel.panel-primary
          // Default panel contents
          .panel-heading Demo of IP Geolocation
          .panel-body
            .col-md-4
              .panel.panel-default
                .panel-heading
                  h3.panel-title IP Info
                .panel-body
                  form.form-group(role='search', method='GET', action='/api')
                    .input-group.add-on
                      input#ip-address.form-control(placeholder='Search by IP', name='ip', type='text')
                      .input-group-btn
                        button.btn.btn-default(type='submit')
                          i.glyphicon.glyphicon-search
                  .info
                    p
                      strong Hostname: 
                      span.host #{data.query}
                    p
                      strong IP Address: 
                      span.query #{data.query}
                    p
                      strong Country: 
                      span.country #{data.country}
                    p
                      strong Country Code: 
                      span.countryCode #{data.countryCode}
                    p
                      strong Region: 
                      span.region #{data.region}
                    p
                      strong City: 
                      span.city #{data.city}
                    p
                      strong Local time: 
                      span.time #{data.timezone}
                    p
                      strong Postal Code: 
                      span.zip #{data.zip}
                    p
                      strong Latitude: 
                      span.lat #{data.lat}
                    p
                      strong Longitude: 
                      span.lon #{data.lon}
            .col-md-8
              .panel.panel-default
                .panel-heading
                  h3.panel-title Map
                .panel-body
                  #map(style='min-height: 500px;')
    script(src='extensions/jquery/dist/jquery.min.js')
    script(src='extensions/bootstrap/dist/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAOUHHJkGtjqDetJAaqR9Atnbdc6zWLL-w')
    script(type='text/javascript').
      function initMap() {
      var location = new google.maps.LatLng(#{data.lat}, #{data.lon});
      var mapCanvas = document.getElementById('map');
      var mapOptions = {
      center: location,
      zoom: 16,
      panControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
      position: location,
      map: map
      });
      }
      google.maps.event.addDomListener(window, 'load', initMap);
